<div class="profile-card">
    <div *ngIf="!isAuthenticated">
        <p>If you‘re viewing this page then you have successfully started this Angular application.</p>
        <p>This example shows you how to use the
          <a href="https://github.com/okta/okta-angular/tree/master">Okta Angular Library</a> to add the
          <a href="https://developer.okta.com/docs/guides/implement-auth-code-pkce">PKCE Flow</a> to your application.</p>
        <p>When you click the login button below, you will be redirected to the login page on your Okta org. After you authenticate,
          you will be returned to this application with an ID Token and Access Token. These tokens will be stored in local storage
          and can be retrieved at a later time.</p>
        <!-- <button id="login-button" class="ui primary button" role="button" (click)="loginA()">Login</button> -->
            
    </div>

    <div *ngIf="isAuthenticated && userName">
        <p>Welcome back, {{ userName }}!</p>
  </div>